@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.rainbow {
	background: linear-gradient(319deg, #ff0000, #ff8e00, #feff00, #8cff00, #07ff00, #00ff58, #00ffd3, #00a6ff, #002aff, #5100ff, #b000ff, #ff0099, #ff0004, #ff4200, #ffc700, #d8ff00, #53ff00, #00ff0c, #00ff9a, #00afff, #000eff, #8100ff);
	background-size: 1320% 1320%;
	animation: gradient-animation 22s ease infinite;
	color: rgb(0, 0, 0);
	font-family: Lobster;
}

.rainbow .header__title,
.rainbow .colors__title {
	color: rgb(0, 0, 0);
	font-family: Lobster;
}

.rainbow .list__item,
.rainbow .add-new-task {
	border-radius: 25px;
	border: 0.5px solid rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.452);
	box-shadow: 0px 0px 20px 1px #ffffff, inset 0px 0px 20px 2px #ffffff;
}

.rainbow .add-new-task__input {
	color: rgb(0, 0, 0);
}

@media (min-width:767px) {
	.rainbow .list__item:hover {

		.list__item-btn-done,
		.list__item-btn-delete {
			color: rgb(0, 0, 0);
		}
	}
}

.rainbow .done {
	background-color: rgba(2, 255, 15, 0.158);
	text-decoration: line-through;
	color: rgba(0, 0, 0, 0.529);
	transition-duration: 0.7s;
}

.rainbow .done:hover {
	background-color: rgba(12, 189, 21, 0.636);
	border: 0.5px solid rgba(12, 189, 21, 0.636);
	text-decoration: none;
	color: black;

	.list__item-btn-delete {
		color: black;
	}
}